SECRET_KEY=xAlPm-DieZu0V3nxAlPm-DieZu0V3nxwdOrz0RPz8wUA
FLASK_DEBUG=1
UPLOAD_FOLDER='uploads'
DATABASE_URL='mysql+mysqlconnector://root:1111@localhost:3306/mp'
FLASK_ENV='development' # or production
PASSWORD = '24991277'