<div class="form-control">
    <input type="file" 
    x-ref="fileInput"
    class="file-input file-input-bordered file-input-sm w-full" 
    :class="record.isSaved ? 'file-input-success' : 'file-input-info'"
    accept="image/*"
    multiple
    @change="handleFileChange($event)"
    :name="record.isSaved ? 'image_append_files_' + record.id + '_[]' : 'image_create_files_' + '{{ uid }}_' + record.id + '_[]'" />
</div>

<div class="grid grid-cols-3 md:grid-cols-5 gap-2 mt-2" 
        x-show="record.images_previews && record.images_previews.length > 0">
    
    <template x-for="(img, idx) in record.images_previews" :key="idx">
        <div class="relative aspect-square rounded-lg overflow-hidden border bg-base-200 group/img"
                :class="img.isSaved ? 'border-success/50' : 'border-info/50'">
            
            <template x-if="!img.isDoc">
                <img :src="img.url" class="object-cover w-full h-full transition-transform group-hover/img:scale-110" />
            </template>
            
            <template x-if="img.isDoc">
                <div class="flex flex-col items-center justify-center w-full h-full text-base-content/50">
                    <i class="bi bi-file-earmark-text text-2xl"></i>
                    <span class="text-[10px] truncate w-full px-1 text-center" x-text="img.name"></span>
                </div>
            </template>

            <div class="absolute bottom-0 left-0 right-0 bg-black/50 text-white text-[10px] text-center py-0.5 backdrop-blur-sm">
                <span x-text="img.isSaved ? '已存' : '儲存'"></span>
            </div>

            <button type="button" 
                    @click="removeImage(idx, img, record)"
                    class="absolute top-1 right-1 btn btn-circle btn-error btn-xs opacity-0 group-hover/img:opacity-100 transition-opacity scale-90">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </template>
</div>